<div class="top-nav border-bottom d-flex align-items-center">
  <h3 class="w-75 mx-auto font-family-baskervville">HACKER NEWS</h3>
</div>

<app-tabs (changeTabIndex)="loadDataUserApp()"></app-tabs>

<div class="w-75 mx-auto">
  <app-custom-dropdown [options]="options" [(optionSelected)]="optionSelected" (optionSelectedChange)="optionSelectedChange()">
    <ng-template let-option>
      <img [src]="option.value.urlImage" alt="" width="25">
      <span class="ps-3">{{ option.label }}</span>
    </ng-template>
  </app-custom-dropdown>

  <div class="d-flex justify-content-center align-items-center pt-5"
       *ngIf="optionSelected?.queryName == 'none' || !optionSelected?.queryName; else listPublications">
    <h3 class="pt-5 border-top">Seleccione una opción para iniciar la busqueda!</h3>
  </div>
</div>

<ng-template #listPublications>
  <app-result-list [publications]="publications"
                  (tapLike)="loadDataUserApp()"
                  *ngIf="publications && publications.length > 0; else emptyList">
  </app-result-list>
  <div (onVisible)="onScroll()" *ngIf="tabSelected == 0"></div>
</ng-template>


<ng-template #emptyList>
  <div class="d-flex justify-content-center align-items-center pt-5">
    <h3 class="pt-5 border-top">{{ loading ? 'Cargando...' : 'No se encontraron registros!' }}</h3>
  </div>
</ng-template>

