<div class="p-2" (click)="openPublication(publication?.story_url)">
  <div class="col px-0 item-list">
    <div class="d-flex justify-content-start align-items-center">
      <div class="item-info px-4">
        <div>
          <fa-icon [icon]="faClock"></fa-icon>
          <span class="ms-2 text-muted font-size-13">{{ publication?.created_at | dateHumanFriendly }} by {{ publication?.author }}</span>
        </div>
        <p class="m-0 font-size-13">{{ publication?.story_title }}</p>
      </div>
    </div>
    <div class="item-icon">
      <span (click)="markFavorite($event, publication?.objectID)">
        <fa-icon [icon]="publication?.isLike ? heartSolid : heartRegular" size="lg" class="text-danger"></fa-icon>
      </span>
    </div>
  </div>
</div>
