.item-list {
  border: 1px solid #979797;
  border-radius: 5px;
  background-color: white;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .item-info {
    background-color: white;
    border-radius: 5px 0 0 5px;
    height: 100%;
  }

  .item-icon {
    padding: 2rem;
    height: 100%;
    background-color: #EEEEEE;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.item-list:hover {
  opacity: 0.5;
}
