<div class="row row-cols-2 row-cols-xs-1 gy-3 pt-4">
  <ng-container *ngFor="let publication of publications; trackBy: fnTrackBy">
    <app-item-list [publication]="publication" (tapLike)="tapLike.emit()"></app-item-list>
  </ng-container>
</div>
