<div class="select-container ps-2">
  <div class="header border border-dark py-1 px-2" (click)="toggle()">
    <span>{{ hintText }}</span>
    <fa-icon [icon]="faAngleDown"></fa-icon>
  </div>
  <div class="options bg-white" [ngClass]="{'d-inline-block': isVisible, 'd-none': !isVisible}">
    <ng-container *ngFor="let option of options; trackBy:fnTrackBy">
      <div class="py-1 px-2"
           [ngClass]="{'item-selected': optionSelected == option.value}"
           (click)="onChanged(option.value)">
        <ng-template [ngTemplateOutlet]="tmpRef"
                     [ngTemplateOutletContext]="{$implicit: option}"></ng-template>
      </div>
    </ng-container>
  </div>
</div>
