.select-container {
  width: 240px;
  position: absolute;

  .header {
    font-size: 14px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .options {
    transition: height 500ms ease;
    width: 100%;
    padding: 5px;

    .item-selected {
      background-color: #EEEEEE;
    }
  }
}
