.bg-toggle-button {
  display: flex;
  justify-content: center;

  .toggle-button-left {
    border-radius: 5px 0 0 5px;
    width: 100px;

    display: flex;
    justify-content: center;
  }

  .toggle-button-rigth {
    border-radius: 0 5px 5px 0;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
