<div class="bg-toggle-button my-5">
  <div class="toggle-button-left border"
       [ngClass]="{'border-primary': tabIndex == 0}"
       (click)="changeTab(0)">
    All
  </div>
  <div class="toggle-button-rigth border"
       [ngClass]="{'border-primary': tabIndex == 1}"
       (click)="changeTab(1)">
    My faves
  </div>
</div>
