/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  background-color: #FCFCFC;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-family-baskervville {
  font-family: 'Baskervville', Arial, Helvetica, sans-serif !important;
}
